* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Rubik', sans-serif;
	background: hsl(270, 20%, 96%);
	display: grid;
	place-items: center;
	position: relative;
}

.back-model-top {
	height: 700px;
	width: 400px;
	border-radius: 300px;
	position: absolute;
	z-index: -1;
}

.back-model-top {
	top: -200px;
	left: -200px;
	background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
}

main {
	width: 325px;
	margin-top: 4rem;
	display: grid;
	place-items: center;
}

.phone {
	margin-bottom: 5rem;
	position: relative;
	background: hsl(270, 20%, 96%);
	box-shadow: 0 0 0 10px #fff, 15px 15px 30px 5px rgba(0, 0, 0, 0.2);
	border-radius: 25px;
	overflow: hidden;
	width: 270px;
}

.low-t {
	font-size: 2.5rem;
	color: hsl(271, 36%, 24%);
	margin-bottom: 2rem;
}

.low-t,
.low-p {
	text-align: center;
}

.low-p {
	line-height: 2rem;
	font-size: 1.1rem;
	color: hsl(270, 7%, 64%);
	margin-bottom: 4rem;
}

.avatar {
	margin-right: 10px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 2px solid #fff;
}

.header {
	padding: 15px 15px;
	padding-top: 30px;
	display: flex;
	align-items: center;
	color: #fff;
	margin-bottom: 10px;
	background: linear-gradient(
		to right,
		hsl(264, 100%, 61%),
		hsl(293, 100%, 63%)
	);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.phone-indent {
	top: -15px;
	left: 50%;
	transform: translate(-50%);
	position: absolute;
	width: 140px;
	height: 35px;
	border-radius: 50px;
	background: #fff;
}

.fa-chevron-left {
	margin-right: 10px;
}

.name {
	font-size: 1rem;
	font-weight: 500;
}

.status {
	font-size: 0.8rem;
	color: hsl(276, 100%, 81%);
}

.info {
	margin-right: 50px;
}

.images img {
	width: 49px;
	height: 49px;
	border-radius: 15px;
}

.message {
	max-width: 70%;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 0.7rem;
}

.messages {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.m-l {
	background: hsl(270, 20%, 88%);
	border-radius: 15px 15px 15px 5px;
	color: hsl(276, 55%, 52%);
}

.m-r {
	background: #fff;
	border-radius: 15px 15px 5px 15px;
	color: hsl(271, 15%, 43%);
}

.m-r,
.images {
	align-self: flex-end;
}
.images {
	margin-bottom: 5px;
}

.walk {
	background: linear-gradient(
		to left,
		hsl(264, 100%, 61%),
		hsl(293, 100%, 63%)
	);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.radio {
	width: 15px;
	height: 15px;
	border: 1px #fff solid;
	border-radius: 50%;
	margin-right: 5px;
}

.price {
	font-size: 0.9rem;
}

.first-half {
	display: flex;
	align-items: center;
}

.main-body {
	padding: 10px;
}

.input {
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 5px;
	border-radius: 25px;
}

.placeholder {
	color: hsl(206, 6%, 79%);
	font-size: 0.7rem;
	margin-left: 10px;
}

.fa-chevron-circle-right {
	color: hsl(271, 36%, 24%);
	font-size: 25px;
}

@media (min-width: 1000px) {
	main {
		grid-template-columns: 1fr 0.75fr 3fr;
		width: 1000px;
		gap: 2rem;
		max-height: 550px;
	}

	.phone {
		grid-column: 1;
	}

	.low-text {
		grid-column: 3 / span 2;
	}

	.low-t,
	.low-p {
		text-align: left;
	}

	.phone {
		transform: scale(0.8);
		margin-top: 0;
	}

	.back-model-top {
		left: -100px;
		top: -180px;
	}
}

@media (min-width: 1000px) and (min-height: 1300px) {
	body {
		height: 100vh;
		place-content: center;
	}
}

@media (min-height: 1000px) and (min-width: 1300px) {
	body {
		height: 100vh;
		place-content: center;
	}
}
